[2013-11-14 09:25] iantocristian opened #1 "static files are not served on Windows"
due to

https://github.com/rjrodger/seneca-web/blob/master/web.js#L33

which changes the prefix from '/seneca' to '\seneca'

[2014-05-13 11:06] sorin7486 opened #2 "Calling done(new Error(""), {}) will crash the server without reply."
The following line will crash the server:

    done(new Error('this is a test'), {});

I would expect this to send a HTTP 500 response.

If I call seneca.fail("", done), it doesn't send a reply at all. So it is unclear to me how to treat errors, apart from sending an {error: true} response. I managed to find a solution by looking at the REST module code, though this doesn't seem to be documented:

[2014-07-04 16:19] mmalecki opened #4 "Reference error"
I think this happens when `pin: 'role:loadbalance,cmd:*'` is passed to `seneca-web`.

[code]

[2014-07-09 17:30] rjrodger opened #6 "meta props read form undef"
Cannot read property 'httpredirect' of undefined
    at Seneca.defaultresponder (/Users/richard/Projects/seneca-examples/micro-services/node_modules/seneca/node_modules/seneca-web/web.js:278:73)

[2014-07-28 15:07] rjrodger opened #8 "really need an easy way to see registered URL paths"

[2014-09-03 14:41] rjrodger opened #9 "invalid pin in role:web, use: breaks with weird error"

[2015-01-20 16:10] rjrodger opened #11 "response object should support comprehensive http$ options"
replace httpstatus$ and redirect$ with a http$ object that offers deeper control of HTTP response

[2015-01-26 15:26] #9 closed

[2015-01-26 15:27] #11 closed

[2015-01-26 15:27] rjrodger commented on #8
role:web,list:routes

[2015-01-26 15:27] #8 closed

[2015-01-26 15:29] rjrodger commented on #4
obsolete - offending code removed

[2015-01-26 15:29] #4 closed

[2015-01-26 15:30] rjrodger commented on #6
obsolete

[2015-01-26 15:30] #6 closed

[2015-05-21 09:33] rjrodger opened #12 "more structured way to handle cross-cutting concerns on responses"
e.g. structuring errors

[Trello Card](https://trello.com/c/idQ7hkPN/63-seneca-web-more-structured-way-to-handle-cross-cutting-concerns-on-responses)

[2015-05-22 02:07] NickGlenn commented on #12
I'd recommend a simple and straight forward approach using Javascript's native `Error`.  Maybe even take a few notes from how ["Restify" goes about handling errors](http://mcavage.me/node-restify/#error-handling).

[2015-06-12 13:00] #1 closed

[2015-06-12 14:29] rjrodger opened #14 "$ properties not removed from output"
they should be!!!

[2015-06-12 14:29] #14 closed

[2015-06-12 15:42] rjrodger commented on #2
documented and fixed as of 0.4.0

[2015-06-12 15:42] #2 closed

[2015-08-02 11:26] faceleg opened #17 "Correct way to set a 404 status for a given request"
I'm using sequelize here, and want to set a 404 status for requests for items belonging to a nonexistent company:

[code]

Is this the best way to set a 404 status code in this situation?

[2015-08-02 21:30] faceleg commented on #17
A friend pointed this out to me: https://github.com/rjrodger/seneca-examples/blob/master/api-server/api.js#L60

[2015-08-02 21:30] #17 closed

[2015-08-06 00:13] simoami opened #18 "defaultmodify() fails when processing arrays"
The [defaultmodify()](https://github.com/rjrodger/seneca-web/blob/master/web.js#L846) function doesn't properly test for objects since `_.isObject()` returns true for arrays as well. So, the following code fails as keys are numeric and k.indexOf() errors out:
web.js (line 846)

[code]
Proof: http://jsbin.com/sokufoloqo/edit?js,console

My suggestion is to modify the condition to `_.isObject( resul

[2015-10-07 11:47] rjrodger opened #20 "add support for chairo"
this needs to be built in, so you can say:

[code]

(consider this form just a suggestion - integration mode needs more thought)

[Trello Card](https://trello.com/c/iWkIN3GC/65-seneca-web-add-support-for-chairo)

[2015-10-13 11:32] faceleg opened #21 "`alias` does not seem to work"
My express integration is elsewhere - it works fine.

I'm trying to make the `put` seneca function available at `/api/users/:id`, but haven't been able to do so with the `alias` property.

I've been able to make it work by renaming it from `put` to `:id`, but I'd much rather use `alias` and keep the name as `put`. I'm going to have other verbs i.e. `get`, `delete`, I'd rather differentiate them at

[2015-10-13 11:36] faceleg commented on #21
My express integration is elsewhere - it works fine.

I'm trying to make the `put` seneca function available at `/api/users/:id`, but haven't been able to do so with the `alias` property.

Am I doing it wrong?

[code]

[2015-10-13 20:10] faceleg commented on #21
I will submit a PR if I can prove this doesn't work by adding a relevant test to this module.

[2015-10-13 20:11] faceleg opened #22 "Supertest to test express integration"
Is anyone against using this instead of the bash script in use currently?

If not, expect a PR.

In fact expect one anyway, no way I want to contribute unit tests if I have to copy-paste bash

[2015-10-13 20:21] mcdonnelldean commented on #22
@faceleg I'm happy to look over it and at at the least get a discussion going. Anything that improves test experience interests me.

[2015-10-13 20:22] mcdonnelldean commented on #21
@faceleg Could you add the test please? There are some new people ramping up to the org so this will speed up the process and we should be able to get this sorted :D

[2015-10-13 20:25] faceleg commented on #22
You will love it, trust me.

[2015-10-13 20:25] faceleg commented on #21
I'll deal with #22 first, as ... well I have to.

[2015-10-13 20:49] rjrodger commented on #21
@faceleg your code does look like it should work :(
Try running you app and calling role:web,list:route to see the list of URL routes defined.
Easiest way to do this is to call `seneca_instance.repl()` and telnet localhost 30303, and then enter `role:web,list:route` - post the output here

[2015-10-13 20:50] rjrodger commented on #22
@faceleg supertest?

[2015-10-13 20:57] faceleg commented on #21
Thanks @rjrodger, will do.

[2015-10-13 20:57] faceleg commented on #22
https://github.com/visionmedia/supertest

[2015-10-13 21:00] faceleg commented on #22
Uh, I also added an eslintrc and jscsrc file, and a gulp task that will reject commits that do not conform.

Thinking about it, eslint has progressed to the point where I think it covers all of the jscs features I liked (formatting mainly), so I'll push a commit removing it just now.

Note also that I guessed at your preferred code style based on what I have seen in seneca-land so far.

[2015-10-13 21:02] faceleg commented on #22
Closing, please discuss on #23

[2015-10-13 21:02] #22 closed

[2015-10-13 21:04] rjrodger commented on #22
supertest: nice! /cc @mcdonnelldean

[2015-10-14 01:45] faceleg commented on #21
@rjrodger see #23, alias works only if one omits the prefix from the alias - I was doing it wrong.

Once the tests are merged in, other n00bs like me will have a slightly more complete reference :)

[2015-10-14 01:45] #21 closed

[2015-10-14 06:49] qnimate opened #24 "Seneca-web Root Prefix"
How can I map a action to root path using seneca-web.

For example, this is the prefix:
[code]

[Trello Card](https://trello.com/c/mXfaGmOB/67-seneca-web-seneca-web-root-prefix)

[2015-10-15 15:05] o100ja opened #25 "Add support for PATCH HTTP method"
Is there any reason why we're not using https://github.com/jshttp/methods in http-router.js line 27?

[Trello Card](https://trello.com/c/57hKrBeM/68-seneca-web-add-support-for-patch-http-method)

[2015-10-15 15:50] mcdonnelldean commented on #25
I think it's more of a case that we haven't seen it yet. @rjrodger any thoughts on this one? @geek ?

[2015-10-16 11:40] maxired commented on #18
This is fixed by 7708df89c6fb8f2bda509b0ec3311fc22bb509be

@simoami , please, can you close this issue ?

[2015-10-16 16:09] #18 closed

[2015-10-16 20:16] simoami commented on #18
works fine now, thanks!

[2015-11-26 14:33] vtardia opened #28 "The defaultmodify middleware removes httpstatus$ codes sent by jsonrest-api plugin"

[2015-12-02 09:26] puncha opened #30 "Is there a way to consume apis provided by another microservice by using map?"
[code]

[2015-12-11 19:01] #28 closed

[2015-12-14 10:51] faceleg opened #31 "`role` not allowed in body"
Using seneca-web to build my API to serve objects that contain the `role` property, I have discovered that seneca-web tries to use said property internally, preventing the API call from completing successfully.

Relevant plugin code:

[code]

Request body:

`URL: /api/user-companies/1`
[code]

Error:

[code]

[2015-12-14 10:52] faceleg commented on #31
/cc @geek @mcdonnelldean @rjrodger

[2015-12-14 10:56] mcdonnelldean commented on #30
@puncha Sorry for the delay. Do you mean can you call another seneca microservice? If so my understanding is as long as you pin the transport correctly it would work as expected. If not I would most likely suggest this as a feature.

[2015-12-21 10:27] peek4y opened #36 "Propagating Seneca error to Express "next" function."
Is there a way, to propagate a seneca error, to next(err) ?

[2015-12-21 14:17] mcdonnelldean commented on #36
@rjrodger @mihaidma Not too sure but this does sound like it's the right way to do this?

[2015-12-21 14:26] mirceaalexandru commented on #36
@mcdonnelldean From my understanding if Seneca processed that request and has reported an error then this should not be propagated to "next". Take in consideration the scenario when a service requires authorization. In this case the seneca-auth will report auth error and seneca-web will report that further. But this error should not go to next Express middleware, in my opinion, as that should be r

[2015-12-21 14:27] peek4y commented on #36
Is it possible to provide "propagating to next" as an option?

[2015-12-21 20:41] mirceaalexandru commented on #36
@peek4y

Yes we can do that, it will be in the next version.

[2015-12-22 06:42] peek4y commented on #36
@mirceaalexandru Awesome, looking forward for the updates!

[2015-12-23 13:38] mirceaalexandru commented on #20
@geek & @rjrodger

This issue is fixed by:

https://github.com/hapijs/chairo/pull/32
and
https://github.com/senecajs/seneca-web/pull/38

Chairo tests are not working because it is using an export that is not published in seneca-web.
First we should merge and publish seneca-web and I will be able to add more tests to Chairo.

So these modules depends one on another we should publish them both.

Ple

[2015-12-23 15:51] mirceaalexandru commented on #20
Using Hapi example:

var Chairo = require ( 'chairo' )
const Hapi = require ( 'hapi' )

var server = new Hapi.Server ()
server.connection()

server.register(
  {
    register: Chairo,
    options: {
      // options for Seneca
    }
  }, function ( err ) {
    var seneca = server.seneca

    seneca.add('role:api,cmd:qaz',function(args,done){
      done(null,{qaz:'z'})
    })

    seneca.act('role:

[2016-01-18 13:33] mirceaalexandru opened #40 "Register framework into seneca options to be used by other plugins"

[2016-01-18 13:35] mirceaalexandru commented on #40
Fixed by #41

[2016-01-18 14:20] #25 closed

[2016-01-19 23:37] #36 closed

[2016-01-19 23:37] #40 closed

[2016-01-20 06:28] mirceaalexandru commented on #36
@peek4y please take a look in Readme for role:web,handle:response

[2016-01-20 06:31] peek4y commented on #36
Cool! Thanks.

[2016-01-20 11:08] mirceaalexandru opened #42 "Seneca web path parameters should use same syntax for Hapi/Express paths"
Express is using paths like this:

/something/:id/do_something

while Hapi is using:

/something/{id}/do_something

Seneca-web should accept ```:id``` syntax also when using Hapi server and change it before registering that path into ```{syntax}```.

[2016-01-25 07:31] mirceaalexandru opened #43 "add query, body payload or path parameters to seneca action arguments in similar way as for Express"

[2016-01-25 09:57] mcdonnelldean commented on #20
Done by @mirceaalexandru

[2016-01-25 09:57] #20 closed

[2016-01-28 22:00] #42 closed

[2016-01-28 22:00] #43 closed

[2016-02-17 08:46] mirceaalexandru opened #49 "Callback was already called when using Express"
When using HTTP a gate-executor: Callback was already called error is thrown.

Thanks @ro70 for this

[2016-02-17 08:50] mirceaalexandru opened #50 "When the response contains id key, this is has a Seneca internal value"
[code]

[code]
response is:
[code]

When using with seneca 0.6.2 the result was OK, when using with seneca 1.x.x the result is just like above.

Thank you @ro70 for finding this.

[2016-02-17 08:51] mirceaalexandru commented on #50
@geek could you please help with this? Seems that seneca use an id that is added directly in the action arguments and overwrite the values received as part of the url params.

[2016-02-17 17:09] #49 closed

[2016-02-18 10:10] antjkennedy commented on #24
Hi there,

I appreciate this was asked a few months ago, but happen to have found the solution so may as well leave this hear for others.

To map your commands to the root path you just need to define an empty prefix.

[code]

[2016-02-18 10:37] mcdonnelldean commented on #24
@mihaidma @mirceaalexandru We should probably add a note on this to the README. @antjkennedy Good spot

[2016-02-18 11:28] antjkennedy opened #52 "Seneca/Express unresponsive after first request"
Hi All,

I have just encountered a bug when using `express 4.13.4` with `seneca 1.2.0`. Using the quick example found in the [README.md](https://github.com/senecajs/seneca-web/blob/master/README.md) seneca-web will handle the first request, and then ignore subsequent attempts to access the defined routes.

Once in this state it looks like seneca is no longer called from the express router. Will up

[2016-02-18 11:38] #24 closed

[2016-02-18 12:09] mcdonnelldean commented on #52
Adding note, I've been using seneca 1.2.0 all morning and no issue so this is in seneca-web somewhere I bet.

[2016-02-18 12:58] antjkennedy commented on #52
@mcdonnelldean almost definitely, the good news however is that is fixed in the latest commit.

After updating my package.json to

[code]

and changing the seneca import to

[code]

it all appears to be working as expected now although importing `seneca-web 0.7` is broken.

[2016-02-18 19:18] geek commented on #52
@antjkennedy seneca-web 0.7.1 is now published with that fix... feel free to point to that in your package

[2016-02-19 18:19] nfantone commented on #52
Same over here. Arrived at the same solution. Should we expect a release for `seneca` that includes 0.7.1 any time soon?

[2016-02-19 22:16] geek commented on #50
Moved to https://github.com/senecajs/seneca/issues/348

[2016-02-19 22:16] #50 closed

[2016-03-05 14:42] ro70 opened #56 "seneca express custom error handling"
Hello

I'd like to manipulate error messages before sending them to the client. Therefore I tried something like shown in the code below.

My question: Is this the 'right' way to do that?

[code]

[2016-03-05 16:02] ro70 opened #57 "endware"
Hello

[Here](https://github.com/senecajs/seneca-web/blob/master/web.js#L165) there is an endware object. Is this functionality implemented? If yes, how do I have to use it (tried it like startware but without success)? What are the use cases?

Thanks for your help.

[2016-03-10 14:31] devotox opened #58 "EventEmitter memory leak detected seems to stem from seneca"
[code]

[2016-03-14 16:25] geek commented on #58
@devotox thanks, what version of seneca are you running?

[2016-03-14 16:38] geek commented on #57
@ro70 `endware` will be mapped to `postmap` which is documented here: https://github.com/senecajs/seneca-web/blob/89608112e3f9ecb7fe676b9f1da5d1b6ca41c85b/README.md#general-middleware

[2016-03-14 16:50] geek commented on #56
@ro70 yes, this looks like a good solution.  You may want to do more with mapping the error to the correct status code.  [Boom](https://www.npmjs.com/package/boom) is a possible solution to this.

[2016-03-14 16:50] #56 closed

[2016-03-14 17:08] devotox commented on #58
1.3.0

[2016-03-21 13:11] m3l7 commented on #30
having the same problem. The pin is set up correctly but the command is not called. I have to wrap the action using seneca.add and seneca.act

[2016-03-21 13:22] mcdonnelldean commented on #30
@mirceaalexandru May be best to handle this q

[2016-03-21 13:53] mirceaalexandru commented on #30
I think not, because when act({role: 'web'}) is called there is checked if the corresponding pattern is defined in seneca. Now, because that pattern is not defined in seneca, that entry from map is ignored.

This might be a feature request, as @mcdonnelldean said.

[2016-04-05 07:03] mirceaalexandru opened #59 "Endpoints are not registered to Hapi when using Seneca 2.0.0"
[code]

[code]

If Chairo options do not contain seneca, so seneca 1.4.0 will be used then I have:

[code]

@geek I am looking on this but maybe I will need some help.

[2016-04-05 07:09] mirceaalexandru commented on #59
@geek

https://github.com/senecajs/seneca/blob/master/seneca.js#L949

seems that is never called

[2016-04-05 07:25] mirceaalexandru commented on #59
[code]

when using seneca 2.0 the above ready function is never called. With 1.4.0. this is called correctly

[2016-04-25 15:28] shanel262 opened #61 "Tests failing with Seneca@1.4.0 and 2.0.x when using Node@5"
The tests are failing when using Seneca@1.4.0 and 2.0.x with Node@5. Could be just an issue npm installing though as it complains about now being able to find lodash.
https://travis-ci.org/senecajs/seneca-web/builds/125581719

[2016-04-27 13:32] mihaidma commented on #61
assigned to @nfantone

[2016-04-27 18:42] nfantone commented on #61
I'll add that tests are also failling on recent node `6.0.0` but for different reasons.

[code]

[2016-04-27 18:54] nfantone commented on #61
Also, I can't seem to reproduce this bug locally.

[code]

[2016-04-27 19:10] nfantone commented on #61
Ok, nevermind, I was finally able to found out the culprit.

@mihaidma Do you have any idea why are we installing seneca manually:

[code]

and _also_ declare it in `devDependencies` (`"seneca": "plugin"`)? That's what's breaking stuff.

[2016-04-27 20:54] mihaidma commented on #61
in the travis file we set some seneca env variables we set two seneca versions and tests run against both of them: https://github.com/senecajs/seneca-web/blob/master/.travis.yml#L5
They run against latest seneca 1.x and latest 2.x.

After npm install we do npm install with specific seneca version. That is a trick to use a specific seneca version.

[2016-04-28 01:23] nfantone commented on #61
@mihaidma Yes, that much I gathered. My question was more into the _why_. The "trick" is breaking the build. I'm not sure of the reason behind it, but `npm` makes some packages point towards others while re-installing `seneca` (you can tell from the output log on Travis). If you just `npm install`, it works wonders.

So, the alternatives I can come up with are:

1) _Do not test against older versi

[2016-04-29 10:18] sdbondi opened #63 "Trailing slash on prefix is not optional when using blank alias"
With the following code:

[code]

I have to make the request with a trailing slash i.e `/batch/` works, `/batch` doesn't.
What happens is [this line in fixprefix](https://github.com/senecajs/seneca-web/blob/master/web.js#L1105) adds a trailing slash, but the `http-router` module
seems to already add `\/?` (optional trailing slash) to the match regex. So you get `"\/batch\/\/?"
which only matches t

[2016-05-04 10:14] rjrodger commented on #59
@mirceaalexandru can you write a seneca unit test in the main seneca repo that reproduces this priblem - thanks

[2016-05-04 10:25] mirceaalexandru commented on #59
yes, I will do it now

[2016-05-04 11:20] mirceaalexandru commented on #59
@rjrodger seems to be working now - the ready() is called, even if it do not seems to be in the expected order - at least in my opinion. I am preparing a repo with an example for this

[2016-05-09 11:09] mihaidma commented on #61
fixed by adding an `npm uninstall seneca` before the `npm install seneca$SENECA_VER`

[2016-05-09 11:09] #61 closed

[2016-05-09 15:32] nfantone commented on #61
@mihaidma Sorry I couldn't take a look at this sooner! I was abroad and didn't find the time. This seems to work fine.

[2016-06-22 16:04] christophla opened #66 "Arguments being overridden (id, name)"
I am new to seneca and I am having problems with values being overridden somewhere along the way.

- When posting a json document to an endpoint the name property is being changed to 'Seneca/2.1.0/4yw8nu2odgdw/1466611077816/12280/-'

[code]

- When mapping an 'id' to an action, it gets changed to a long string of numbers.

[code]

[2016-06-22 16:13] christophla commented on #66
I figured out that I need to add data: true to the map

[code]

The documentation incorrectly states that the property is `dataprop` when the correct one is `data`

The id is still being incorrectly mapped as a string of random numbers...

[2016-07-14 21:11] surfdude75 opened #68 "Do not work over amqp transport"
It seems it does not work when using amqp as transport.

When I set transport to amqp using .client method it does not work anymore.

But If I add a local .add and then call the .act targeting amqp endpoint it works

Here is how I make it works in coffeescript:

merge = (dest,src,props) ->
  props.forEach (prop) ->
    dest[prop] = src[prop] if src[prop] and !dest[prop]
  dest

add = (seneca,cmd,t

[2016-07-15 06:46] mirceaalexandru commented on #68
Hey @surfdude75,

Yes, is a known constraint. Is working only if matching a local defined pattern. This is because the validation of the endpoints is done before the transport being available, so only local defined actions are considered.

[2016-07-15 06:48] mirceaalexandru commented on #66
@mcdonnelldean the id issue is still there or is fixed? Seems that id is still changed.

[2016-07-15 09:12] ro70 commented on #66
@mirceaalexandru @mcdonnelldean In issue https://github.com/senecajs/seneca/issues/348 I'm reporting on the same problem. It's not only the id that changes, although name, version, ... are showing this behaviour. It's not fixed yet.

Here's another minimal example (tested with seneca 2.1.0, express 4.14.0, body-parser 1.15.2):
[code]

[2016-07-15 09:29] mirceaalexandru commented on #66
Hey @ro70 , I know that you reported this, didn't know the current status for this.

:+1:

[2016-07-27 10:31] #66 closed

[2016-08-02 13:14] indr opened #71 "POST /auth/register returns {"user":null,"login":null,"ok":true}"
[code]

This happens when the `seneca-user` plugin is used with `autopass: false` option. It also happens if `mustrepeat: true` and only `password` is sent.

[2016-08-02 13:21] indr commented on #71
Oh sorry. Wrong repository. Is it possible to move issues?

[2016-08-02 14:43] mcdonnelldean commented on #71
@indr nope 😋 You gotta open a new one then close this

[2016-08-03 00:16] indr commented on #71
ok, did it: senecajs/seneca-auth#98
@mcdonnelldean close this one :smirk:

[2016-08-03 10:31] indr commented on #71
Just learned this "Close and comment"! :))

[2016-08-03 10:31] #71 closed

[2016-08-10 04:02] foshantiger opened #72 "how to get the name param?"
I use the express and post data to add a product, everything seems ok except the "name" param, it's expected to get "iPhone" but actual got "Seneca/2.1.0/b0yoh6objcyt/1470717984357/15018/-" , is seems overrided by seneca？

what data I posted is :
{
    "category":"mobile_phone",
    "name":"iPhone",
    "description":"description",
    "price":5999
}

And here is the code:

[code]

[2016-08-10 04:26] foshantiger commented on #72
Solved. Just simply add the data property to the METHOD node,like that: add: {POST:{data:true}}, hope to make it as an example in the usage node :)

[2016-08-10 04:26] #72 closed

[2016-08-10 06:02] indr commented on #72
This issue was fixed with PR #70 but seneca-web hasn't been published yet. `npm install` seneca-web via GitHub url.

[2016-08-16 22:09] bitmage opened #73 "Arg Namespacing"
Is there a way to prefix user-defined args such that the end up in a sub key?  Such as:

[code]

The reason I ask is that there's a lot of other noise in the root namespace.  Stuff from Seneca core, stuff from plugins.  It makes it hard to troubleshoot and see what params are being sent.  If we could have some separation in the namespacing it would make it all much clearer.

One way to solve this

[2016-08-31 10:07] #59 closed

[2016-08-31 16:27] linde12 commented on #30
Does anyone have any news on this? Id love this feature! Right now we have to proxy all api-requests to the correct services

[2016-09-01 12:49] mcdonnelldean commented on #30
I'll be removing this check in the next version.

[2016-09-01 13:07] allinwind3344 opened #78 "seneca-web 3.0.0 with express report error"
To run seneca-web with express sample, got error.
seneca: 3.0.0
seneca-web: 0.8.0
express: 4.14.0

below is sample code:

var seneca = require('seneca')()
seneca.use(require('seneca-web'))

seneca.add('role:api,cmd:zig',function(args,done){
    done(null,{bar:args.zoo+'g'})
})

seneca.add('role:api,cmd:bar',function(args,done){
    done(null,{bar:args.zoo+'b'})
})

seneca.add('role:api,cmd:qaz',fu

[2016-09-01 13:14] mcdonnelldean commented on #78
@allinwind3344 We are currently working on updating seneca-web to use the latest frameworks and fix issues. It should be ready in 2 days.

[2016-09-01 20:59] linde12 commented on #30
Ah, nice! Any clue where this check is? Id like to try it out asap :-)

[2016-09-01 21:19] mcdonnelldean commented on #30
So the very raw working version is here:

https://github.com/senecajs/seneca-web/pull/79

There is only one catch. Right now the hapi adaptor will attach request$ and response$ to the message so you can access the properties. I have yet to add in the old properties that were merged. Dollar properties are always stripped on transport so you will basically get a blank message.

I should have some sa

[2016-09-01 21:32] linde12 commented on #30
Ill have to try it out tomorrow. Good effort!👍

[2016-09-01 22:05] mcdonnelldean commented on #30
I've updated the branch, see,

https://github.com/senecajs/seneca-web/blob/9721ccc00b1d42cd04d354cb50e8cf92272826c0/docs/examples/client-proxy.js

This should show you where the limitation lays when using .client. Having said that, the plan is to add `msg.args` with as many of the stringifable parts from the request as possible so it should still be massively useful.

Basically we don't have the a

[2016-09-02 17:57] linde12 commented on #30
It looks good. I like the API. I'm currently trying to hack something together to get things running and to better understand the code and i think i'm getting the hang of it. Looks like map-routes.js needs some tweaking. For me `_.valueKeys` isn't defined. I'm guessing it should be something like `_.mapKeys`?

[2016-09-02 19:05] mcdonnelldean commented on #30
Its like value key but it flattens too.

It's part of lodash so should be there. The implementation is a tad naive in places (eg autostarting servers) but it should be clear enough to change.

Having said that its weird your getting a bug. Can you post your routes? I bet I've missed something there.

Kindest Regards,

Dean

On 2 Sep 2016, at 18:57, Oscar Linde <notifications@github.com<mailto:noti

[2016-09-03 07:21] allinwind3344 commented on #78
thanks! looking forward to updating...

[2016-09-03 10:07] linde12 commented on #30
I'm getting them same error using the hapi & express examples as well. I don't think lodash has a _valueKeys function, at least i couldn't find it in their docs.

Eventually after some tweaking in map-routes i managed to get my actions triggered, but when responding to the action seneca crashed.

Here is the log output:
[code]

[2016-09-03 10:26] mcdonnelldean commented on #30
Oh! I think I know what this is. I was finalising the name and was refactoring names. I bet I've mangled mapKeys into valuekeys by replacing map with value.

I've a couple of hours set aside today so I can fix. I ran the examples and changed at the last minute. Typical :)?

Kindest Regards,

Dean

On 3 Sep 2016, at 11:07, Oscar Linde <notifications@github.com<mailto:notifications@github.com>> wrot

[2016-09-03 10:36] linde12 commented on #30
Haha, sounds like myself!

No hurries, let me know if you need someone to try it out!

[2016-09-03 17:02] mcdonnelldean commented on #30
Should be fixed now!

It was indeed silly edits on my parts. Tests are coming Monday so this shouldn't happen again!

Kindest Regards,

Dean

On 3 Sep 2016, at 11:36, Oscar Linde <notifications@github.com<mailto:notifications@github.com>> wrote:

Haha, sounds like myself!

No hurries, let me know if you need someone to try it out!

-
You are receiving this because you were mentioned.
Reply to this

[2016-09-05 08:22] ashushahi commented on #78
We are also get same issue.
Meantime what will be Seneca-web and Express stable version combinations.

Thanks
Ashutosh Shahi

[2016-09-06 12:26] guptakvgaurav commented on #78
I am also getting same error.

[https://github.com/senecajs/seneca/issues/524](Raised issue)

[2016-09-08 11:28] linde12 commented on #30
I did some testing today and it works fine.

What i'm doing is having microservices register themselves to the webserver:

`service.act({role: 'api', cmd: 'register', pin: 'role:v1', routes: {prefix: '/api/v1', pin: 'role:v1,cmd:*', map: {echo: true}})`

Then the webserver does a `seneca.client({port: msg.port, pin: msg.pin})` and `seneca.act('role:web', {routes: routes})`

This makes it so that i

[2016-09-09 03:15] natekis6 commented on #78
2 days?

Any update on this?

[2016-09-10 10:18] arden opened #80 "this can support koa2?"
this can support koa2?

[2016-09-10 10:32] mcdonnelldean commented on #80
@arden There is a new version launching very soon that will have an easier adapter system. While Koa is not a built in adapter we would be more than happy to accept a pull request for a KOA adapter (we just had no time to build it). Watch for 1.0 launch tonight or tomorrow. The new adapter system is much easier to work with.

[2016-09-11 18:54] k2s opened #81 "add usemethod to the wildcard mapping object"
Similar to `useparams` and `usequery` following code

[code]

would merge `methodName:get` into the arguments for the Seneca action if the request is GET and `methodName:post` if it is POST method.

[2016-09-11 21:50] mcdonnelldean commented on #81
@k2s I think I may be missing suffix from the new implementation. I'll get it added back before release. Can you give me a use case for the above?

[2016-09-11 21:52] mcdonnelldean commented on #80
@arden The new version is now on master, please take a look. Koa support is not included but could be easily added (no time on my end).

[2016-09-11 21:52] mcdonnelldean commented on #78
@natekis6 The new version is now on master.

[2016-09-11 21:52] mcdonnelldean commented on #73
Done in the latest version

[2016-09-11 21:52] #73 closed

[2016-09-11 21:53] mcdonnelldean commented on #68
Done as of #79  Serializable parts of the request are now in msg.args and is transportable.

[2016-09-11 21:53] #68 closed

[2016-09-11 21:54] mcdonnelldean commented on #52
This is resolved with #79

[2016-09-11 21:54] #52 closed

[2016-09-11 21:55] mcdonnelldean commented on #63
Fixed on master via #79

[2016-09-11 21:55] #63 closed

[2016-09-11 21:56] mcdonnelldean commented on #30
@linde12 Good call, I'll see can I get that in. For now master is updated and ready for publish.

[2016-09-11 21:56] #30 closed

[2016-09-11 21:56] mcdonnelldean commented on #58
Closed as releated to seneca directly and is noted there.

[2016-09-11 21:56] #58 closed

[2016-09-11 21:57] mcdonnelldean commented on #12
Outdated

[2016-09-11 21:57] #12 closed

[2016-09-11 21:58] mcdonnelldean commented on #31
This is now fixed as all input goes to msg.args

[2016-09-11 21:58] #31 closed

[2016-09-11 21:58] mcdonnelldean commented on #57
Endware is dow deprecated in favour of a more lightweight system. All middleware should be done external to seneca-web.

[2016-09-11 21:58] #57 closed

[2016-09-11 22:04] k2s commented on #81
for given map I could separate implementation by Seneca patterns:

[code]
currently I have to either do if or call Seneca again with added method parameter inside `role:api,path:echo`.

[2016-09-11 22:17] mcdonnelldean commented on #81
Oh ok,

So you now get the route meta via msg.args so you could branch on in your main handler based on if it is post or get.

Having said that. I like the idea of being able to suffix the pattern. I don't like the idea of making it the method as that ties down the pattern to a route but it would be easy to add a general suffix that is simply tacked on to the handler. This would allow you do the a

[2016-09-11 22:19] mcdonnelldean commented on #78
Closed with release going out 20 mins.

[2016-09-11 22:19] #78 closed

[2016-09-12 10:11] allinwind3344 opened #83 "using Express sample not work"
Try to run using express sample, after express server startup, access "http://localhost:4000/todo/list" by chrome, always return error: Cannot GET /todo/list
reponse header is:
[code]

below is package used:
[code]

The js files used as below:

### using-express.js:

[code]

### routes.js:

[code]

### plugin.js

[code]

whether i miss any configuration? appreciate for help!

[2016-09-12 19:53] tswaters opened #84 "Path won't work on windows, need non lazy solution"
One can use the url module for this.

You can provide a windows-looking path (e.g., `\\todo\\list`) and it will turn it into a url path (e.g., `/todo/list`)

I can send a PR for this.

[2016-09-13 08:58] #84 closed

[2016-09-13 09:13] mcdonnelldean opened #87 "Add suffix back in"
Suffix happens at the end of each route on a per route basis. This is added AFTER the postfix in the order of concatenation.

__example__
[code]

Alias still overrides completely.

[2016-09-15 10:00] allinwind3344 commented on #83
this issue fixed by latest source code, when the next release?

[2016-09-15 14:54] devotox opened #89 "Seneca Web does not listen to 'X-HTTP-Method-Override'"
How can we get Seneca Web to change Paths based on an X-HTTP-Method-Override as there is no way to send a patch request from certain systems

[2016-09-16 04:12] allinwind3344 opened #90 "Need suffix support for param route parts"
route mapping with alias not work under windows.

amend the using express sample route as below:

[code]
access "http://localhost:4000/todo/alist" by chrome and return 404 error.

dependent packages:
"seneca": "^3.0.0",
"seneca-web": latest source code download from master
"express": "^4.14.0",

OS: windows 7

[2016-09-16 04:45] allinwind3344 commented on #90
check the code , alias will override prefix, postfix, suffix and so on.  my understand is alias '/alist' should just override the 'list' part, right?

[2016-09-16 14:06] mcdonnelldean commented on #90
@allinwind3344 Right now the only support for alias is full override (which is necessary). But this is an interesting use case. Is there a reason you wouldn't just change the pattern to `cmd:alist`. I'm trying to understand why you would sub alias a pattern.

[2016-09-16 14:09] mcdonnelldean commented on #89
Ultimately seneca web just creates routes with Hapi / Express. If it is something that needs to be done per route we can add pass through config.

As of 1.0 the only thing seneca web does so you need to set the above in hapi or express, ala, https://github.com/hapijs/hapi/issues/1217

[2016-09-16 14:17] devotox commented on #89
Usually you would be able to use the npm module method-override written by
express themselves but this does not seem to work with Seneca when I do

const methodOverride = require('methode-override');
app.use(methodeOverride('X-HTTP-Method-Override'));

On Fri, 16 Sep 2016, 15:09 Dean McDonnell, <notifications@github.com> wrote:

[2016-09-17 13:39] allinwind3344 commented on #90
@mcdonnelldean thanks for your reply. i want to use prefix to distinguish different functionality in my project. for example, to define restful api as below route:

[code]
in the most of CRUD cases, the 'map' part is same or similar, use 'prefix' as identifying is clearly and even 'map' part can be reused for different functionality.

[2016-09-21 22:41] tswaters opened #91 "errors thrown in seneca action result in circular json error"
This happens under express at least - I don't really use HAPI and haven't tried it there.

Consider the following:

[code]

This will blow up in a fantastic manner due to a circular json reference.  Here is the stack trace:

[code]

Basically when the seneca action replies in the error, it goes into the logging and attempts to serialize both request$ and response$ - both of these are circular refe

[2016-09-21 23:12] tswaters commented on #91
I've submitted a pull request against seneca that fixes this:

https://github.com/senecajs/seneca/pull/556

It's not the cleanest solution, but it at least doesn't explode in a fire.

I would think that the logger shouldn't attempt to serialize `request$` and `response$` but I'm unsure if seneca-web has a way to tell it not to.

[2016-09-22 20:33] tswaters commented on #91
That pull request was merged, so it won't blow up anymore - but, even then when a action goes into error the entire request$ and response$ objects are stringified and output to the logs which may not be ideal.

[2016-09-24 01:30] tswaters opened #92 "Using middleware from body-parser in express/connect"
consider the following

[code]

Specifically, loading in the urlencoded and json middleware on the app.  If this is done, when ReadBody is called, it will attach event handlers to the request, but at this point, the events have already been drained by the other middleware.  The result is the post goes off into the ether, next is never called and no response is returned from the post.

It seems to

[2016-09-24 10:02] tswaters commented on #92
After thinking about this a little bit, it would probably be best to put this behind a flag that defaults to the current behavior to avoid breaking changes.  I've played around with it a bit and have a working version and will be sending a PR for this shortly.

Also, looks like none of the tests do any posts.  I've added some verifying the results of the post body comes through, both with and with

[2016-09-25 23:18] tswaters commented on #80
I was going to look into this but I don't think this can be realistically included in this module.

The way things are now, [each adapter is required](https://github.com/senecajs/seneca-web/blob/master/web.js#L3-L6) when requiring `seneca-web`....  koa is a bit special due to v1 requiring generators and v2 requiring async/await.

Building a plugin for either of these will require syntax that may n

[2016-09-26 03:03] tswaters commented on #80
I've created a plugin for koa1:

https://github.com/tswaters/seneca-web-adapter-koa1

I'll do one for koa2 when I get a chance.

[2016-09-26 04:05] tswaters commented on #80
and here's one for koa2:

https://github.com/tswaters/seneca-web-adapter-koa2

[2016-09-26 08:35] #92 closed

[2016-09-26 08:36] mcdonnelldean commented on #91
Closed as PR merged. Good work @tswaters

[2016-09-26 08:36] #91 closed

[2016-09-26 08:38] mcdonnelldean commented on #90
@allinwind3344 Ah ok, in that case you are looking for suffix which is not yet added, see #87.

@tswaters Nice simple one here for you if you are interested.

[2016-09-26 08:49] mcdonnelldean commented on #83
@allinwind3344 A new release will go out tonight.

[2016-09-26 08:49] #83 closed

[2016-09-26 08:56] mcdonnelldean opened #94 "Break out sub-modules"
For reasons given by @tswaters in #80 it makes complete sense to drop express / hapi / connect support into their respective libraries.

Koa cannot be added to this repo because it requires newer syntax elements then we use. This came up in the previous iteration of seneca-web and caused issues.

It'd be nice to have express, hapi, connect, koa1 and koa2 support as separate modules to keep the imp

[2016-09-26 09:00] mcdonnelldean commented on #81
Ok I think what would work better here having played with it is some form of substitution. The pin would become `pin:{map},someKey:{method}`. That would be a cleaner implementation.

CC @tswaters Thoughts on the above?

[2016-09-27 01:21] tswaters commented on #90
@allinwind3344 fwiw, your route does get defined but it's available here:  http://localhost:4000/alist.  Alias replaces everything (including any defined prefixes or postfixes)

@mcdonnelldean I'm not sure if using suffix can do what is desired.

With a REST end point, the desired routes would be:

GET /user/:id
PUT /user
POST /user
DELETE /user/:id

Whereas using suffix in this manner would creat

[2016-09-27 01:31] tswaters opened #96 "Need better docs for route mapping options"
I was going to add some docs about suffix, but realized there wasn't really a good place for it aside from the quick example, and that doesn't really describe the nuance of the various parameters.

Currently the following are supported on a given route:

[code]

If alias is used, it overwrites everything.

Otherwise, the returned path will be the following:

[code]

where `part` in the above is th

[2016-09-27 01:31] tswaters commented on #90
I'll put a PR together for what I've described above.... I did do the suffix piece, and I was about to write how it works here when I realized that no, that wouldn't accomplish the goal due to the names still being there.

[2016-09-27 02:14] tswaters commented on #89
This should work - but it depends on when it has been loaded into the middleware chain.

If you follow the quick start example they pass `Express()` as the context, and later pull it out with `seneca.export` - if you attach the middleware at this point, it will be too late.  All the routes will have been applied to the app, and adding methodOverwride adds it after them, so it is too late.

The fol

[2016-09-27 02:43] tswaters commented on #81
So the desire here is to have the following actions defined - both of which can be triggered from the same route map?

[code]

Where the `method` component of the pin has been defined by `usemethod` property in the map, if it has been provided.

Can you provide more details on how you see the substitution working?  Are you saying it should be possible to include other components of the request as

[2016-09-27 09:30] devotox commented on #89
What is the difference between that and this? Is it the points at which I load the modules?
Should Seneca and Seneca Web be required before i do the const app? or is it the adapter that i need to specify?

[code]

[2016-09-27 09:40] #87 closed

[2016-09-27 09:44] mcdonnelldean commented on #90
@allinwind3344 @tswaters Suffix is now on master so I'm going to close this; It'll get released tonight. @allinwind3344 as mentioned by @tswaters, you may still need the work from #97 to get exactly what you need.

[2016-09-27 09:44] #90 closed

[2016-09-27 09:51] mcdonnelldean commented on #81
@k2s @tswaters Lets sit on this for a bit. It won't work with Hapi since hapi is 1 route per array of gets. This means it would have to be something supported at the adapter level. I don't want to make any changes there until it's decided if the adapters are internal or external.

@tswaters In my line of thinking above you would only have two special keys `{map}` which maps the the name and replac

[2016-09-27 09:52] mcdonnelldean commented on #80
Closing as Koa/2 is now supported.

[2016-09-27 09:52] #80 closed

[2016-09-27 09:54] mcdonnelldean commented on #96
Yeah alias is basically an override. On docs It might be now harm to add in a single doc called `route-mapping-options.md` and raw dump some examples and explainations into it.

It doesn't have to be pretty, that can come later. Just do like the above.

[2016-09-27 09:57] mcdonnelldean opened #98 "Use more Node 4.x bits to improve code clarity"
@tswaters a nice one for you. The min node version for this module is 4.x This means a lot of ES6 stuff is available to be used. Feel free to update the code with these bits (string interpolation is a nice one).

Be aware that seneca actions are full functions with a context, `this`, set. Sometimes it doesn't matter and you can use arrows; but if you see this being used inside a function or via a

[2016-09-27 09:59] mcdonnelldean commented on #89
This is the old way of using the code let me change it for you.

[2016-09-27 10:07] mcdonnelldean commented on #89
[code]

See https://github.com/senecajs/seneca-web#auth passport is now directly supported on the routes. You need to add in your routes to the empty object or you can add them after seneca.ready too.

The old seneca-web used to return a middleware but this caused issues in load order. The new one just adds routes so it is up to you to start expres/hapi/koa/etc yourself.

[2016-09-27 10:19] mcdonnelldean opened #99 "Add Koa 1 and 2 quick samples to the README"
The drivers are built. We just need simple quick guides so people know they are available.

[2016-09-27 10:21] devotox commented on #89
so where i used to get my routes from was using this line

[code]

and that had this in it
[code]

So i no longer need the web/httprouter export and i should just get my routes directly from this line
[code]

[2016-09-28 03:06] tswaters commented on #94
I've started work on this.  I transferred the koa1/2 adapters to senecajs org.

I updated the references in the badges in the readme to point @ senecajs.

- Travis seems to work OK and it is monitoring PRs

- Coveralls is returning a 404.  I think administrators need to do something there to get it to work.

- didn't publish new npm version, so the readme/repo still points at `tswaters` on their p

[2016-09-28 04:57] tswaters opened #101 "Release new version"
Once #97 and #100 are merged, we should push up a new version.

I'll send a PR with an update to CHANGES

[2016-09-30 07:54] allinwind3344 opened #103 "error handling with seneca-web 1.0.0"
when seneca action encounter fatal error, it may terminate seneca-web.
check the issue [#56](https://github.com/senecajs/seneca-web/issues/56), can handle error as below:

[code]
whether "responder" still exist in seneca-web 1.0.0? if not, how to customize error handling?

[2016-09-30 13:05] #94 closed

[2016-09-30 13:17] mcdonnelldean commented on #103
@allinwind3344 All action handlers have access to the request and response objects. So to do the above you can do.

[code]

Then in your handler,

[code]

Do not auto handlers are the only type of web route that can participate in transport. To put it another way request$ and response$ are not transported over the network so cannot be handled in another microservice.

[2016-09-30 14:41] tswaters commented on #103
Maybe it would be good to provide a `next` function to routes and if an error occurs route it through there.  Not having custom error handling over transport is a pretty substantive limitation

I'm not sure how this could work in HAPI but with express/connect it would allow the host application to handle errors in a custom error handler.  Currently errors are always returned as 500, sending the en

[2016-09-30 14:48] mcdonnelldean commented on #103
If it can be made to work generally with all adapters I'm all for it. I want to avoid specific functionality differences where possible.

[2016-09-30 14:50] tswaters commented on #103
Fair enough....  I'll look into this later today.  Heading into work now but in ~8-9 hours I'll look into how this can be done in hapi/koa

[2016-10-01 08:42] tswaters commented on #103
After playing with this a bit, it seems that each of the adapters has a method for the host application to handle errors except for connect/express...  I've opened tickets on each of the adapters for this and have attached PRs to fix each (see above for tickets)

For prosperity, here's how to handle errors in each of the adapters

* hapi - attaching onPreResponse extension and checking for `isBoom

[2016-10-01 08:50] #101 closed

[2016-10-01 08:51] mcdonnelldean commented on #103
@tswaters epic stuff. We'll probably need a doc on this.

[2016-10-01 08:53] mcdonnelldean opened #104 "Move eg/ samples into their respective repos"
We have a big DevDep list due to our examples. It makes sense these examples should below with their respective adapters. Examples written for docs do no need dependencies installed so they can stay in the readme.

[2016-10-01 08:55] mcdonnelldean commented on #89
@devotox without seeing your codebase in full it is hard to tell what exactly you require changed. Generally though, you should only have to build a map of the routes  and pass it, express, and passport into seneca-web. See the secure routes examples we have in /eg for the changes.

[2016-10-01 11:39] allinwind3344 commented on #103
@mcdonnelldean thanks for your explanation!
@tswaters thanks for your great work!

[2016-10-03 11:06] #103 closed

[2016-10-03 11:34] devotox commented on #89
Is this for Seneca 3? as i am on Seneca 2.1.0 at the moment

[2016-10-03 11:40] mcdonnelldean commented on #89
@devotox It has been primarily tested with 3.0 It may work with 2.0. Please report any issues and we will fix it up so it works as expected where possible.

[2016-10-03 11:43] devotox commented on #89
Ok i think i understand now thank you.

[2016-10-05 12:19] jsmadja opened #105 "Can't use BodyParser and PUT method"
Hi,

I've got a problem. I was using Seneca 2.1 (before seneca-web became an external dependency with Seneca 3.x).

I'm trying to migrate my code and I have a problem with PUT request. They were in timeout. I've found the problem and it "works" when I remove

`
    express.use(BodyParser.urlencoded({extended: true}))
    .use(BodyParser.json({limit: '50mb'}));
`

What I don't understand is : why I

[2016-10-05 19:46] tswaters commented on #105
Take a look at #92 - you can disable the body parser by providing the relevant option.  I didn't try it with PUT but it should work the same way

[2016-10-06 08:18] jsmadja commented on #105
As you can see, I'm using the parameter *parseBody: false*. I tried with *true* value, but my problem is I don't know why my body is not auto-unmarshalled (string to object) anymore since my migration from Seneca 2.1.

[2016-10-06 10:19] mcdonnelldean commented on #105
@jsmadja The current behaviour with `parseBody:true` should work for you, if not, it is a bug. #92 added the ability to turn it off, not remove it.

What output are you getting with parseBody defaulted to true? We may need to make parseBody:true more robust. The old implementation used Express' body parser to auto marshal. This became a problem when we went to implement things like hapi.

The new

[2016-10-07 02:46] tswaters commented on #105
Apologies, I didn't read your issue as close as I could.  After looking a little closer I think I see the problem:  the option needs to be passed like the following -- wrapped in an `options` key -- see [readme](https://github.com/senecajs/seneca-web#body-parser):

[code]

The behavior you are seeing (stringified response) is the way the built-in body parser works currently.  With both built-in pa

[2016-10-11 14:30] jsmadja commented on #105
It works. I made a pull request with more documentation.

[2016-10-11 14:30] #105 closed

[2016-10-27 01:07] djensen47 opened #107 "Quick example does not work"
I cloned the repository. Did an `npm install`. Went into the examples directory. Ran `node using-hapi.js` and received the following error:

[code]

[2016-10-27 01:09] djensen47 commented on #107
Ever since the 3.0 release, trying to use seneca has been a _painful_ experience. I know that's not super constructive but I'm not sure how else to put it. 😞

[2016-10-27 01:22] djensen47 commented on #107
It looks like the examples in the docs directory were not updated to use a require statement instead of a string. I can submit a pull request to fix this tomorrow-ish.

[2016-10-27 02:46] djensen47 opened #108 "[Question] How can I do RESTful mapping?"
I would like to map RESTful API routes calls to action patterns.

For instance, is there a better way to do this (example is for Hapi-style routes (not express/koa):

[code]

[2016-10-27 09:01] dgonzalez commented on #107
That would be awesome. If you need any help, please ping me. I might be able to assist you.

[2016-10-27 18:47] djensen47 commented on #108
Note that the top level prefix is useless in this example. One issue that I ran into is that I cannot override `part`. Here's what I would actually prefer this block of code to look like:

[code]

[2016-10-27 18:51] djensen47 commented on #107
Also, the getting started guide for Seneca is maybe using an old example of how to integrate seneca with a web server: http://senecajs.org/getting-started/#web-server-integration

There is no reference to seneca-web in this section and I think the example only works on Express? Maybe that's an issue for the seneca repo but I thought I might mention it here too.

[2016-10-28 00:07] tswaters commented on #108
Apologies, the docs are kind of out of date.  I've been meaning to fix this up but haven't put together the time to do it properly.

Take a look at this: https://github.com/senecajs/seneca-web/issues/90#issuecomment-249742347 it might help a bit

We added a few options to override specific parts of the generated route path that should make this possible... passing `name` on each map should allow y

[2016-10-28 18:58] imatmati commented on #107
Hi djensen47 ,

Yes, the example is no longer synchronized with current state of plugins. The issue is that the adapter can no longer be called as stated in the code. You must require a special plugin for Express located here : https://github.com/senecajs/seneca-web-adapter-express

Now after moving some files for my personal arrangement, I was able to make it run :

    'use strict'
    var Senec

[2016-10-28 20:30] djensen47 commented on #107
Yup, thanks, helpful. I discovered this the other day too.

[2016-11-02 00:16] djensen47 commented on #107
Also, it appears that the Express example doesn't work at all even when using require for the adapter.

[2016-11-02 01:11] djensen47 opened #111 "Web server (hapi or express) crashes or hangs when plugin returns an error object"
When a plugin returns an error object, the web server crashes or hangs.

**Express:** crashes: senecajs/seneca-web-adapter-express#8
**Hapi:** hangs and leaks memory (I have not yet created an issue on senecajs/seneca-web-adapter-hapi for this)

[2016-11-02 08:14] imatmati commented on #107
Hi Dave,

What do you get exactly and how do you send your request ?

Ivan Matmati

----- Mail original -----

De: "Dave Jensen" <notifications@github.com>
À: "senecajs/seneca-web" <seneca-web@noreply.github.com>
Cc: "ivan matmati" <ivan.matmati@laposte.net>, "Comment" <comment@noreply.github.com>
Envoyé: Mercredi 2 Novembre 2016 01:16:05
Objet: Re: [senecajs/seneca-web] Quick example does not wor

[2016-11-02 18:33] djensen47 commented on #107
I didn't understand the question but I went ahead and fixed the examples with #112.

[2016-11-02 19:11] imatmati commented on #107
Good, I was thinking about those changes, but you did it.
Now, all examples will be ... working examples.

[2016-11-02 19:47] #107 closed

[2016-11-04 02:33] rjstires commented on #108
@tswaters  Maybe I missed something but in the example you've provided, are curly braces the proper syntax for param values? Params appear to be denoted by a colon (:) to function, as clarified #90.

(Just felt this might be worth clarifying as I stumbled a bit due to this post.)

[2016-11-04 04:31] djensen47 commented on #108
All the "mapper" code does is blindly take strings and create routes on the web server, each one uses a different format. Hapi uses curly braces, express and koa use colons.

[2016-11-05 14:41] Walter1976 opened #114 "[Question] get suffix value merged among the other values in the first seneca action parameter"
Hello,
I have a problem following the book 'Developing Microservices with Node.js' by David Gonzales.
In the book seems that doing something like
[code]
I should get the suffix value for the productbyid route directly merged in the args parameter of the action handler:

[code]
You see that args.id is reused to call another action but however is inside the args object.

I can get the :suffix value

[2016-11-08 12:58] nfantone opened #115 "app.use( seneca.export('web') ) throws an error"
_From https://github.com/senecajs/senecajs.org/issues/266_
_Original author: @chessmonster_

----

I'm a noob at seneca and I'm just trying to run sample codes from Developing Microservices with Node js, and it says:

[code]

but Im getting an error that says:

[code]

Also I tried to run another sample code copied from the web, I'm sorry I just can find the link. But I just copied, pasted and tri

[2016-11-08 15:30] tswaters commented on #115
You'll need to:

1) pass `context` to the config.  Docs reference this as `Express ()` but `new Router()` should work.

2) pull context out with `seneca.export('web/context')()` -- if this is the app you can call `listen` on it.  If it's a router you can pass it to `app.use`

[2016-11-11 11:30] Walter1976 commented on #114
I got an answer in stackoverflow that makes me believe that I was not understanding well the seneca-web behavior. Probably this post can be closed.

[2016-11-11 11:31] dgonzalez commented on #114
Will do. Please fell free to reopen again if you need more help!

[2016-11-11 11:31] #114 closed

[2016-11-12 16:16] 1fabiopereira opened #116 "seneca-web express error"
I'm having the following error when trying to create an api with seneca-web:
https://gist.github.com/1fabiopereira/d1c3434457de503cc680ed6571e575ca

Any idea what might be ?

[2016-11-13 23:18] tswaters commented on #116
The error looks like you are passing pre-1.0 config.  This has been updated after 1.0; `use` is now `routes`.

This applies to the initial configuration of SenecaWeb (if you provide initial routes), and when acting upon `role:web`.

 Instead of:

[code]
or
[code]

It should be:

[code]
or
[code]

[2016-11-14 11:59] 1fabiopereira commented on #116
It's all right. I will try this and I report the result here.

[2016-11-15 06:31] tswaters commented on #115
A lot of the docs on getting started and the seneca-attic/getting-started repo were out of date.  I'm submitted a few PRs for fixing these to use the latest API.

[2016-11-18 15:43] 1fabiopereira commented on #116
Look I did not succeed.

Look my code:

[code]

[code]

Error when starting an application (__node server.js__):

[code]

[2016-11-18 15:47] tswaters commented on #116
Replace

[code]

With

[code]

[2016-11-18 15:51] 1fabiopereira commented on #116
Did not work ! I tried this:

[code]

[2016-11-18 16:05] 1fabiopereira commented on #116
I created a repository with a code close to what I have, maybe this will help identify what is going wrong.

https://github.com/1fabiopereira/seneca-debug

[2016-11-21 07:43] tswaters commented on #116
I just took a look at the repo, looks like you figured it out....   cheers!

[2016-11-21 14:04] 1fabiopereira commented on #116
Thanks for the help, I needed a thorough check since I am new with seneca, I think the problem was lack of experience. 😒

[2016-11-25 16:20] #116 closed

[2016-12-03 09:53] benbonnet opened #117 "Passing random number of params in get request"
Sorry if that sounds obvious, but I could not identify the right way to solve the problem i've encountered

I'd like to have some kind of 'index' routes which can receive a random number of params.
For example :

http://seneca-host/api/items/index?sortby=id&filterby=somefilter&etc...

`sortby` and `filterby` being the optionals ones

Given the following setup :

[code]

I could get the expected re

[2016-12-09 12:17] jsmadja opened #118 "Can't use http$.status anymore with seneca-web-2.0.0 ?"
Hi everyone, I'm migrating Seneca 2.x to Seneca 3.x and seneca-web 2.x.

Is Something changed about how HTTP Code are returned ?

I used to do this :

[code]

And I don't have a HTTP status code 403 anymore but a 200 OK instead.

I wrote a full example in a github repository https://github.com/jsmadja/seneca-http-status/blob/master/src/index.js

You can clone it and reproduce the problem

Thank yo

[2016-12-13 09:56] matiger opened #119 "How to set the content-type of result, if it is not application/json"
Hi everybody,

I am trying to access a microservice via a restful api-gateway which is working nicely. But if the microservice returns something else (like an image) I have the problem that seneca refuses to return it to the client/browser.

I use the following code to set up my gateway:

[code]
This setup works great for all json-like data, since it connects to an amqp-queue.

I know that the pay

[2016-12-29 12:42] akeelnazir commented on #115
Are you guys really serious about this framework? It promises a lot but when it comes to working examples to help us getting started, it fails. I also bought the book a few months ago, none of the examples work :(

[2017-01-11 15:31] oliversturm commented on #118
Hi,

I'm having the same problem. I'm using Express and I checked out the code for seneca-web-adapter-express, where it seems there is no handling for http$ at all - or I have no idea where it might have gone.

I need to return status codes, and also headers. Is this not currently possible with seneca-web 2.0.0?

Thanks
Oli

[2017-01-11 16:00] oliversturm commented on #118
Update: based on the new docs from https://github.com/senecajs/seneca-web/pull/109 I worked around this by using msg.response$.status(...).send() to return status codes, and msg.response$.location(...) to set the header. autoreply must be switched off for the route of course, otherwise Express complains about headers being set after send.

I'm not opposed to this new approach, but it is rather mor

[2017-01-18 10:49] jsmadja commented on #118
How should I switch off autoreply ?

[2017-01-18 11:13] oliversturm commented on #118
@jsmadja Just add "autoreply: false" to an item in your mapping list.

[code]

[2017-01-27 12:23] nshahcs opened #120 "TypeError while trying to send response"
I have written a simple action which connects to mongo db using seneca-mongo store module, execute a list query and get the results. I can see that the query was successful and the correct results were fetched. When I try to send these results back to the client, the respond call errors out with following message and stack trace.

[code]

The action that I have written is

[code]

The same piece o

[2017-01-27 16:12] tswaters commented on #120
The path to seneca-web here reveals the problem:

`/scratch/DiffAnalyzer/node_modules/seneca/node_modules/seneca-web/web.js:851:13`

Older versions of seneca included `seneca-web` as a dependency - this is an older version of the module that seneca might require internally.  This will happen if you don't use an explicit require and use the string form of use, something like this:

    seneca.use('

[2017-01-27 16:27] tswaters commented on #119
It's possible if both the seneca route handler and seneca-web are on the same microservice.  You should have access to `request$` and `reply$` and  which are req and res.  Just set `autoreply` to false for the route, append content-type header and respond manually via `reply$` (which is `res`)

Of course, if you are using microservices where the route handler is in a different service, `reply$` an

[2017-01-30 06:51] nshahcs commented on #120
I see this output for version
    "type": "version"
  "version": "0.4.3

Currently I am using this was to export seneca actions via express

var app = require('express')()
	.use(require("body-parser").json({
		limit: '50mb'
	}))
	.use(function(req, res, next) {
		res.header("Access-Control-Allow-Origin", "*");
		res.header('Access-Control-Allow-Methods', 'GET,PUT,POST,DELETE');
		res.header("Acces

[2017-02-01 03:27] tswaters commented on #120
`_.each` will iterate over a collection or array.

- If it's a collection `key` should be each value (i.e.,  results of `Object.keys(collection)`)

- If it's an array `key` will be undefined and you'll get the error you saw.

You can try wrapping the array return in an object, like `respond(null, {data:ob})` -- that'll probably make it work....

But, to be honest, I'm not entirely clear how the ol

[2017-02-01 03:44] tswaters commented on #117
You'd typically want to avoid exposing your seneca actions to the outside world.  If you have something like `/act?cmd=deleteAllUsers` and don't protect it, it can be called.

Plus it's harder... the port that act is exposed at would either need to be hard-coded (which makes scaling to, say, multiple microservices on the same host considerably more difficult), or fetched somehow returned so the fr

[2017-02-01 05:08] nshahcs commented on #120
Yeah, I guess that was it. I was playing with it and figured it out late last night. Respond does not let you return an array, you need to wrap it into an object.

I tried updating to the latest and I agree, it's not trivial. The changes broke almost all actions that I had written. Thank you very much for the help. :)

[2017-02-01 05:08] #120 closed

[2017-02-23 06:46] tiaod opened #121 "How to pass a custom callback using passport?"

[2017-03-11 17:53] kasongoyo opened #122 "How to handle error in seneca-web 2.0"
Hey folks,

I can't find an example or anywhere in the documentation that show how to handle error and manipulate them before returning them to the API consumer. There is [this example working for seneca 1.0](https://github.com/senecajs/seneca-web/issues/56) but it does't seem to be valid for current seneca.

[2017-03-12 19:08] AntSworD opened #123 "How to match and get url params?"
Such as: `/a/:id/b/:name`

[2017-03-12 19:32] #123 closed

[2017-03-13 05:03] tswaters commented on #122
That looks like it is from seneca-web 0.x.  `responder` doesn't work any more.  When seneca-web went to 1.0 it turned into a thin wrapper to the underlying web framework with everything configured by routes.

It is possible to handle the error and potentially make changes to it prior to sending to the client, but you need to do it in the express (or other) error handler.  There is a test in `senec

[2017-03-19 21:32] kasongoyo commented on #122
Thanks @tswaters for helping me to pinpoint the error handler technique based on express.

[2017-03-22 10:30] kasongoyo opened #124 "Supertest with seneca-web does not work"
`

    //dependencies
    const Seneca = require('seneca');
    const path = require('path');
    const Web = require('seneca-web');
    const Express = require('express');
    const bodyParser = require('body-parser');
    const config = require('config');

    let app = Express();

    //parsing body
    app.use(bodyParser.json());
    app.use(bodyParser.urlencoded({
        extended: true
    }

[2017-03-22 10:31] #122 closed

[2017-03-22 11:04] kasongoyo commented on #124
I have figured it out. The test got executed before seneca initialization process complete so I had to increase test timeout and problem has disappeared.

[2017-03-22 11:04] #124 closed

[2017-03-22 11:05] dgonzalez commented on #124
You might be interested in the ready callback:
http://senecajs.org/api/#method-ready Not sure if it solves your problem
but it is the way to execute actions when seneca is ready.

Thanks

On 22 March 2017 at 11:04, kaso <notifications@github.com> wrote:

[2017-03-22 20:16] kasongoyo commented on #124
Thanks @dgonzalez.

[2017-06-01 04:52] RamonDonnell commented on #118
Just doing the migration to 3 and hit the missing http$ feature.
Simple fix for http$.status https://github.com/RamonDonnell/seneca-web-adapter-express/commit/9f6f241c48473058aaea72493d7c59ef58b822b2
Not sure if there is a seneca-web level plan for status, headers, etc.. so will not make a pull request

[2017-06-08 17:22] davd33 opened #125 "Examples: Cannot POST on http://localhost:4000/admin/validate"
I get the following error trying to send a POST request on `http://localhost:4000/admin/validate`:

    "statusCode": 404,
    "error": "Not Found",
    "message": "Not Found"
}

I tried with: `using_express.js`, `using_hapi.js` and `using_connect.js`, but no success.
The other routes work: `/todo/list` and `/todo/edit`.

[2017-06-08 17:24] tswaters commented on #125
The command is `validate` but the alias is set to `/manage` so it must be accessed via:  `POST http://localhost:4000/admin/manage`

[2017-06-08 17:32] davd33 commented on #125
It does not work.
I try to send a POST with this script: https://gist.github.com/davd33/c65e5829d048c089dc8d7a405b83a7ad

And run the command:

I get the following output:

{"ok":true}
post on: http://davd33-laptop:4000/admin/manage
{"statusCode":404,"error":"Not Found","message":"Not Found"}

[2017-06-08 20:30] tswaters commented on #125
I'm at work at the moment and will take a closer look at this either tonight or tomorrow sometime.

[2017-06-09 03:41] tswaters commented on #125
Apologies for the inaccurate information above. With the current setup in `./docs/examples/common/routes.js`, it should be `POST /manage`... reason being, when `alias` is in play, [it overwrites everything](https://github.com/senecajs/seneca-web/blob/2.0.0/lib/mapper.js#L96-L98).  The `name` option can be used to overwrite the part component of the url.

If you want:
- `POST /admin/validate`, remo

[2017-06-09 04:49] tswaters opened #126 "Provide a mechanism to log routes as they are mounted."
Coming from #125 it would be incredibly valuable for debugging tool and general QOL upgrade if the adapters provided a means to output a message to the logs specifying the method and path of a route when it has been mounted to the application.

While there is no real need for any changes in `seneca-web` to support this, it would be good to add docs (note to self, finish up #109 and merge it in) ..

[2017-06-09 14:33] davd33 commented on #125
Thank you :+1: for your answer, I understand now how it works for the alias part.

However I struggle to **make the `suffix` option work**.
I forked seneca web and created a new route to show what I mean.
A `send_post.js` script sends requests to the server as shown in my previous post.

Do I do something wrong to make it work?

Forked repo: [here](https://github.com/davd33/seneca-web).

[2017-06-10 13:46] ggn06awu commented on #119
Thanks for this @tswaters, this issue could really do with some attention in the mainstream Seneca repo's. In the few tutorials / examples it's actually recommended to have the router and web server served by separate microservices.

[2017-06-19 00:05] tswaters commented on #125
I've send a PR for your fork that fixes the issue.... https://github.com/davd33/seneca-web/pull/1/files.  The path as you have it is created properly as  `/todo/test/:name`

When `:name` exists in the path you need to include a param there otherwise express won't match it.  I updated the post to be to `/todo/test/davd` instead of just `/todo/test`

You can include post data of `name` here, but the

[2017-06-19 00:14] tswaters commented on #121
At present this is not possible.  I'm assuming `express` - if so, how auth is attached is here:

https://github.com/senecajs/seneca-web-adapter-express/blob/v1.0.2/seneca-web-adapter-express.js#L104-L105

We attach auth as middleware before the route.

What is your use case for a custom callback?

[2017-11-16 10:32] kasongoyo opened #127 "Pass middleware per route"
I appreciate the great work that has been done by the team behind seneca well i have little suggestion if possible to put a way for implementers to be to pass middleware per route. Forexample I prefer my own auth middleware over passport but I don't see a way I can pass my middleware per route

[2017-11-17 05:11] tswaters commented on #127
One thing to note is that if routes pass over a microservice boundary, any functions will be stripped (functions can't be transported via json).  That said, you could proxy `role:web,route:*`, use prior actions to add in middleware before it hits `seneca-web`, so I think the case is valid.

I'd like to see how this would be implemented in the various adapters though.  For the connect-style framewo

[2017-11-17 05:18] tswaters commented on #108
I've merged the PR for doc improvements which describes how to do REST mapping.... closing this.

See:  https://github.com/senecajs/seneca-web/blob/f7cfab2/docs/providing-routes.md#rest-example

[2017-11-17 05:18] #108 closed

[2017-11-17 05:20] tswaters commented on #96
Closing this.

See https://github.com/senecajs/seneca-web/blob/f7cfab2/docs/providing-routes.md

[2017-11-17 05:20] #96 closed

[2017-11-17 19:19] kasongoyo commented on #127
Can you elaborate how that can be achieved by proxying `role:web,rote:*`? I agree that we can't pass object within route for the reason you have explained but may be we can pass key value object called may be `middlewareMap` with key as middleware name and value as middleware instance during init of this plugin and only provide keys within the route to direct that the specific route need particula

[2017-11-18 05:23] kasongoyo commented on #127
I like the first approach, I think to anticipate maintenance problems, lets pass collection of middleware instead of specific middleware. Something like this:

[code]

Incoming Message

[code]
Then in the `mapRoute`  function of seneca-web we modify like this;
[code]

Then adapter implementators will inspect route to find if there is middleware key then extract middleware from middleware array and

[2017-11-22 01:29] tswaters commented on #127
Terribly sorry for not responding earlier.  My main concern with this is it changes the API contract between `seneca-web` and the adapters.  This will require a major bump and a bunch of staging to make sure we publish new major versions of all the adapters at the same time.

Also, I liked the other way a bit more - providing functions.... but, at the same time, I can see value in providing named

[2017-11-28 16:47] kasongoyo opened #129 "Set Http headers and status per route"
Sometimes the business requirement requires an ability to change header and status of http per specific route but so far I didnt see anyway to achieve that with seneca web. I read that it was possible to pass http status per route here [118](https://github.com/senecajs/seneca-web/issues/118). Can somebody tell us why it got removed with seneca web 3 or what should we do when we have business requi

[2017-11-28 18:40] kasongoyo commented on #118
@oliversturm There is the comment is seneca web adapter that goes as follows
[code]
So the presence of msg.response$ is limited to only if the msg is not sent via transport.

[2017-11-29 01:03] tswaters commented on #118
The best advice I can give -- and indeed the advice I follow at work -- is to fork the adapter you need and add special keys for things like `status` and `headers`; read these in the action handler and make changes to `response` based on what you see.

I think we should standardize and codify it into the various adapters -- but this is definitely semver major as users may depend on whatever key or

[2017-11-29 05:15] tswaters commented on #129
Version 1.0 of seneca-web dropped this.  It was a very different module back then - you can look at the code via the latest tag prior to 1.0.0: https://github.com/senecajs/seneca-web/tree/v0.8.0

I think the main problem was that it tried to do too much, and had problems integrating within the broader microservice framework.... but @mcdonnelldean or @rjrodger might have more insight.  I only start

[2017-11-29 05:24] kasongoyo commented on #129
I like it. It will finally be something like this right?
[code]
So in the adapter we will receive `web$` which contain info to manipulate response and `body` which will be send as http response body

[2017-11-29 07:37] kasongoyo commented on #129
@tswaters please ignore my previous comment. I think your proposed solution was enough provided `value` key will hold response data when content-type is html or json. The proposed solution requires no change of `seneca-web` rather it requires change to adapters and taking into consideration of your comment here  [118](https://github.com/senecajs/seneca-web/issues/118) then it's great.

[2017-12-04 00:52] #127 closed

[2018-01-08 15:21] mcdonnelldean opened #133 "Official hand over to TSWaters"
I wanted to make a note here that I no longer have the time to maintain any of the seneca-web-x modules, this includes this repo as well as the adaptors and other related modules.

I'd like to officially hand over the reigns to @tswaters who has been doing a stellar job of maintaining these modules in my absence.

 It has been a pleasure working with Seneca generally as well as the related modules

[2018-03-09 10:56] djfabrix opened #134 "How to use and configure seneca-web with express in https?"
Please, can you help me to use and configure seneca-web with express in https?
Is ti possibile?
Thank you in advance

[2018-03-19 14:28] mrdulin opened #135 "Not working follow the guide when use with express."
Here is the error log when `npm start`

[code]

here is my repo:

https://github.com/mrdulin/nodejs-microservice

Don't know why.

[2018-04-21 15:00] xfz1987 opened #136 "Not match hapi now!"
Lastest, hapi has been updated. it uses async function to start now. So it can not work for hapi. I have to find other ideas to use seneca with hapi. Like this below:
-----------server.js---------------
const Hapi = require('hapi')
const Routes = require('./routes')

const server = Hapi.server({
    host:'localhost',
    port:8083
});

for(let route of Routes){
	server.route(route)
}

async functi

[2018-04-22 05:58] tswaters commented on #136
If it's using promise-based API to start now, you just need to chain a `then` and `catch`  to handle the response....  or make it an async function and wrap it in try catch.  The current example has...

[code]

You should be able to get this to work with...

[code]

or,

[code]

To be honest, I don't use HAPI at all.  Assuming they still support the `handler (request, h)` signature, `seneca-web-ad

[2018-04-22 06:02] tswaters commented on #135
Sorry for not responding sooner.

Based on the error, looks like `seneca-web` isn't receiving the routes properly.  The `pin` needs to be defined and a string.  If it's not a string, it'll probably blow up, especially if there's no replace function on `pin`.

Looks like there's a bunch of commits on that repo since you posted this issue.  Are you still having problems?

[2018-04-22 06:03] tswaters commented on #133
Thanks you for the kind words!   I'll try my best to keep things working...

[2018-04-23 01:46] mrdulin commented on #135
@tswaters the problem is solved. thanks for reply.

[2018-04-23 01:46] #135 closed

[2018-05-20 06:28] Cecil0o0 opened #137 "There is a vulnerability seneca-web@2.2.0，please see below"
# 环境

node v10.0.0
npm v6.0.0

# 操作步骤

npm audit

# 报错

<div style="text-align:center">=== npm audit security report ===</div>

<div style="text-align:center">
Manual Review<br/>
Some vulnerabilities require your attention to resolve<br/>
Visit https://go.npm.me/audit-guide for additional guidance<br/>
</div>

low     Prototype Pollution
Package      lodash
Dependency of     seneca-web
Path

[2018-09-10 07:10] tswaters commented on #137
Working on it, thanks.

[2018-09-10 07:16] tswaters commented on #137
Fixed in v2.2.1

[2018-09-10 07:16] #137 closed

[2018-11-23 11:34] sandeepmalviya581 commented on #103
how to use boom for exception handling in seneca js ?

[2018-11-23 12:35] sandeepmalviya581 commented on #56
How to use Boom in seneca js for exception handling?

[2018-11-27 02:38] geek commented on #56
@sandeepmalviya581 you should be able to assign `Boom.notFound()` for example, to the `error` property in the example above

[2019-02-15 04:25] shonabell opened #139 "How to use as an API Gateway"
Is it possible to setup the prefix and pin to act on a microservice (plugin) with it's route defined in the service? I don't want to define the routes in the gateway, just the prefix.

If it's not would setting up seneca-web for every plugin then using something like http-node-proxy to proxy to the correct service be a decent way to do this?

For example in the code below the route is defined in t

[2019-02-17 00:37] tswaters commented on #139
I think the best way to approach this is to provide `context` as a `new Router()` instead of the entire app.  From there, you can mount that router to the application with a prefix -- copying from your link, it might something like this:

[code]

[2019-02-17 00:56] tswaters commented on #139
Although I'm not quite clear if that's what you were asking.  You can also define `prefix` at the root of the route configuration, so if you want a specific microservice to be mounted under a given prefix, that is another way to accomplish that.

--

Here's some guidelines on how we're using seneca-web at my work:

The way we use seneca-web is with a (slightly) modified `redis` transport as this i

[2019-02-17 19:28] shonabell commented on #139
What you mention in the second approach is closer to what I'm trying to do. The goal is to not have to define routes in the "api-gateway" but have the routes defined in the plugins so that I don't have to update the api gateway every time a new service is added.

[2019-02-17 23:59] tswaters commented on #139
Well, seneca-web itself is pretty bare-bones, it adds a "role:web,routes:*" action and assumes that microservices are going to call into it to provide additional routes.

That could be the API gateway itself populating itself, or it could be other microservices that call into it. You need to provide a transport mechanism if calling from other services -- typically some kind of pubsub fire/forget w

[2019-02-19 01:30] shonabell commented on #30
I think I'm having the same problem.. can someone tell me what I'm doing wrong?
//server.js
'use strict'

let Seneca = require('seneca');
let SenecaWeb = require('seneca-web');
let Express = require('express');
let BodyParser = require('body-parser');

const app = Express()
    .use(BodyParser.urlencoded({extended: true}))

const senecaWebConfig = {
    context: app,
    adapter: require('seneca-w

[2019-02-19 02:02] shonabell commented on #139
I tried out your package. I left a comment on that repo. I had this currently though, am I going about it the wrong way?

[code]

[2019-02-19 02:55] tswaters commented on #139
You're also going to need to add `role:web,routes:*` with `model: observe` on the api service so that each microservice can call back to the gateway api with their routes.  I can't recall off-hand how mesh deals with setting up `client`s -- but I'm pretty sure it's auto-magical -- once a client comes online with the mesh, mesh will let the clients know what actions the mesh supports and add the ap

[2019-02-19 03:04] tswaters commented on #30
Oof, please don't necro old posts.  Seems unlikely this is the same problem -- this was a bad version of the library that referenced a non-existent function in lodash.

[2019-02-19 03:09] tswaters commented on #115
Closing old tickets that should be resolved now.

[2019-02-19 03:09] #115 closed

[2019-02-19 03:10] tswaters commented on #125
Closing old tickets that should be resolved now.

[2019-02-19 03:10] #125 closed

[2019-02-19 03:12] tswaters commented on #117
Closing old tickets that should be resolved now.

[2019-02-19 03:12] #117 closed

[2019-02-19 03:12] tswaters commented on #104
Closing old tickets that should be resolved now.

[2019-02-19 03:12] #104 closed

[2019-02-19 03:12] tswaters commented on #136
Closing old tickets that should be resolved now.

[2019-02-19 03:12] #136 closed

[2019-02-19 03:12] tswaters commented on #134
Closing old tickets that should be resolved now.

[2019-02-19 03:12] #134 closed

[2019-04-06 13:42] shijiebei2014 opened #140 "Can't run with hapi"
This is the parts of code:
var config = {
routes: Routes,
adapter: require('seneca-web-adapter-hapi'),
context: Hapi.server({port: 4000})
}
var seneca = Seneca()
.use(SenecaWeb, config)
.ready(async ()=> {
var server = seneca.export('web/context')()
try {
var promise = await server.start() // TypeError: Method Map.prototype.forEach called on incompatible receiver #
console.log('server started on:

[2019-04-06 13:42] shijiebei2014 commented on #140
I'm confused about that config.context !== seneca.export('web/context')()

[2019-04-06 22:45] tswaters commented on #140
Config.context should be the same as `seneca.export('web/context')()` - if not, very similar.

Last I checked the tests for the adapter pass.  That build can be seen here -- https://travis-ci.org/senecajs/seneca-web-adapter-hapi/builds/164535179 -- tests here: https://github.com/senecajs/seneca-web-adapter-hapi/blob/master/test/hapi.test.js -- it all looks very similar to yours.  That is running a

[2019-04-07 02:03] shijiebei2014 commented on #140
I need to invoke the function named "web/mapRoutes" to inject the routes and start the server with config.server

[2019-04-07 03:16] shijiebei2014 commented on #140
It's the bug of seneca;

[2019-04-07 03:16] #140 closed

[2019-09-05 03:50] Peyton-lee opened #142 "How can i know the current route method? I can not find in this "args""
[code]

[2019-09-05 03:52] Peyton-lee commented on #142
This is my route map
[code]